#bar {
    width: 100%;
    height: 3vh;
    background-color: var(--green);
}

nav {
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    color: var(--black);
}

.nav-menu {
    display: flex;
    gap: 1.5vw;
    font-size: 1em;
    font-weight: 500;    
}

.nav-bar img {
    width: 180px;
    height: auto;
}

.social {
    display: flex;
    font-size: 1em;
    gap: 1.5vw;
}
