@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
  font-family: 'martin';
  src: url(../font/andre-martin-demo/AndreMartinDemoRegular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --orange: #f7a488;
    --yellow: #f7f5ba;
    --green: #88f7de;
    --purple: #ba94f7;
    --salmon: #fadbd3;
    --black: #0e0e0d;
    --white: #ffffff;
    --pink: #d283b5;
 }

 a {
  text-decoration: none;
 }

 .navbar-content {  
  width: 100%;
  height: auto;
  
 }
 
 .logo {
    font-family: 'martin';
    height: auto;
    cursor: pointer;
 }

 .navbar-style {
  height: 15vh;
  margin-bottom: 12vh;
 }

 .navbar-button {
  color: var(--pink);
 }

 .navbar-item {
  color: var(--pink);
  font-weight: 600;
 }

 .navbar-list {
  display: flex;
  flex-direction: row;
 }

 .navbar-list li {
  padding: 2vw;
 }

 .main-content {
  margin-top: -8vh;
 }

 .imagem-carrossel {
   object-fit: cover; /*para a imagem cobrir todo o container*/
   height: 400px;
 }

 .carousel-text {
  color: var(--black);
  font-family: 'Pacifico', cursive;
 }

 .content-title {
  color: var(--purple);
  font-family: 'Pacifico', cursive;
 }

 .content-text {
  color: var(--black);
  font-weight: 500;
 }

 .card-collection{
  background-color: var(--salmon);
 }

 .card-size {
   max-width: 18rem;
   border-color: var(--orange);
   border-width: 2px;
 }

 .card-btn {
  color: var(--white);
  background-color: #f7a488;
 }

 .card-img {
   object-fit: cover;
   height: 250px;
 }

 .footer-content {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
 }

 .footer-logo {
  width: 120px;
  height: auto;
  cursor: pointer;
 }

 .footer-info {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--pink);
 }

 .social-media {
  color: var(--pink);
 }

 a:visited .instagram-btn {
  color: var(--pink);
 }

 .footer-bar {
  width: 100%;
  height: 20vh;
  background-color: var(--salmon);
  position: absolute;
  margin-top: -20vh;
 }

 .modal-title {
  color: var(--pink);
 }

 .send-btn {
  color: var(--white);
  background-color: var(--pink);
 }

 .about-content {
  width: 100%;
  display: flex;
  justify-content:space-around;
 }

 .jeska-img {
  max-width: 18rem;
 }

 .jeska-card {
  background-color: var(--pink);
  color: var(--black);
  font-size: 0.8rem;
  font-weight: 500;
 }

 .jeska-insta {
  font-size: 1rem;
 }
 a:visited .jeska-insta {
  color: var(--black);
 }

 