@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
 a {
    text-decoration: none;
    color: var(--black);
 }

 ul {
    list-style: none;
 }

 :root {
    --orange: #f7a488;
    --yellow: #f7f5ba;
    --green: #88f7de;
    --purple: #ba94f7;
    --salmon: #f7b6a1;
    --black: #0e0e0d;
    --white: #ffffff;
 }