@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
 a {
    text-decoration: none;
    color: var(--black);
 }

 ul {
    list-style: none;
 }

 :root {
    --orange: #f7a488;
    --yellow: #f7f5ba;
    --green: #88f7de;
    --purple: #ba94f7;
    --salmon: #fadbd3;
    --black: #0e0e0d;
    --white: #ffffff;
 }

 .btn {
   font-size: 1em;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--black);
   padding: 0.3em;
   border-style: none;
   background-color: transparent;
   cursor: pointer;
 }

 .btn span {
   display: inline-block;
   border-bottom: 2px solid #0e0e0d;
   padding-bottom: 2px;
 }